body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.donate-them {

    /* background-image: url("donate-today-main/images/donation12.png"); */
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100vh;
    background-image: linear-gradient(rgba(109, 109, 109, 0.486), rgba(0, 0, 0, 0.918)), url(donate-today-main/images/donation2.jpg)
}

.donation {
    padding-top: 25%;
    color: white;
    text-align: center;
    align-items: center;
}

.link-button {
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}

.helping-amount {
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: center;


}

.height-width {
    height: 50px;
    width: 80px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px solid red;
    background-color: whitesmoke;
}

.help-section {
    align-items: center;
    justify-content: center;
}



#highlight-amount {
    border: 2px solid red;
    color: red;
    font-weight: 900;
}

.help-section>h2 {
    text-align: center;
}

.help-section>p {
    text-align: center;
}

.output {
    justify-content: center;
    text-align: center;
}

.donate-plan {
    text-align: center;
    margin-top: 6%;
}

.card {
    display: flex;
    margin: 10px;
    padding: 0;


}

.card>div {
    margin: 10px;
    padding: 10px;
}

.card-1 {
    background-color: antiquewhite;

}

.card-2 {
    background-color: aqua;
}

.card-3 {
    background-color: slategrey;
}

.contact-me {
    text-align: center;
    margin-top: 5%;
    align-items: center;
    justify-content: center;

}

.contact-me form {
    height: 180px;
    width: 900px;
    background-color: rgb(223, 192, 192);


}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 80px;
    height: 150px;
    justify-content: center;
}

#footer-tag {
    color: rgb(240, 15, 90);
    font-style: italic;
}



#input {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 60%;
    text-align: center;
}

.donate {
    margin: 0 auto;
}

.input-place {
    padding-top: 8%;
    padding-bottom: 5%;
}

.subscribe {
    background-color: red;
    text-decoration: none;
    border-bottom-right-radius: 3px;
    height: 1000px;

    border-top-right-radius: 3px;
    padding: 2px 5px;
    margin: 0%;
    color: white;
    margin-left: -5px;
}

#input-text {
    height: 18px;
}

.flex {
    display: flex;
}